html {
    background: rgb(97, 95, 95);
    width: 100%;
}

#anime-tester {
    width: 100%;
    margin: auto;
    text-align: left;
}

button {
    color: darkblue;
    height: 60px;
    width: 65px;
}

#btns {
    padding: 20px;
    background: #f4f4f4;
    margin-bottom: 20px;
}

#btns button {
    background: #fff;
    padding: 5px 10px;
    border: 0;
}

.box {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 4px;
    display: inline-block;
}

.red {
    background-color: red
}

.blue {
    background-color: blue
}

.green {
    background-color: green
}

.yellow {
    background-color: yellow
}